---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40">
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
          <div class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start">
            <ul class="list-inside list-disc space-y-8">
              <li><a href="/" class="transition hover:text-primary">Home</a></li>
              <li><a href="/features" class="transition hover:text-primary">Features</a></li>
              <li><a href="/how-it-works" class="transition hover:text-primary">How It Works</a></li>
              <li><a href="/pricing" class="transition hover:text-primary">Pricing</a></li>
              <li><a href="/contact" class="transition hover:text-primary">Contact</a></li>
              <li><a href="/#about" class="transition hover:text-primary">About Us</a></li>
              <li><a href="/#resources" class="transition hover:text-primary">Resources</a></li>
            </ul>
            <ul role="list" class="space-y-8">
              <li><a href="/terms" class="transition hover:text-primary">Terms of Use</a></li>
              <li><a href="/privacy" class="transition hover:text-primary">Privacy Policy</a></li>
              <li><a href="/refund" class="transition hover:text-primary">Refund Policy</a></li>
            </ul>
          </div>
          <div class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left">
            <img src="/logo_white.png" alt="QualifyMe Logo" class="h-8 w-auto mx-auto sm:mx-0" />
            <span class="block text-gray-500 dark:text-gray-400">QualifyMe &copy; <span id="year"></span></span>
            <span class="block text-gray-500 dark:text-gray-400">AI-Driven Hiring Assistant</span>
            <span class="block text-gray-500 dark:text-gray-400">Need help? <a href="/#contact" class="font-semibold text-gray-600 dark:text-white">Contact Us</a></span>
          </div>
        </div>
      </div>
    </Container>
</footer>